* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #4f285e;
  font-family: "Poppins", sans-serif;
}

label {
  margin-right: 90%;
}

.main {
  position: relative;
}

.guide-text {
  width: 120%;
}

p {
  padding-left: 2px;
  padding-right: 0%;
}

.next {
  padding-top: 70px;
}

.headline {
  text-align: center;
  margin-top: 20px;
}

.fa-solid {
  color: black;
}

.back-button {
  position: absolute;
  margin-top: 50px;
  margin-left: 30px;
  background-color: #ffffff;
  border: none;
  padding: 8px 16px;
  border-radius: 15px;
  cursor: pointer;
}

.pincode,
select {
  width: 100%;
  height: 3rem;
  border: none;
  background-color: #e5e2de;
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 20px;
}

.btn-primary {
  width: 100%;
  border: none;
  border-radius: 50px;
  background-color: #4f285e;
  height: 4em;
}

h4 {
  font-size: 2rem !important;
  font-weight: 700;
  color: white;
}

.form-label {
  font-weight: 800 !important;
}

.radio-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  padding: 15px;
}

.radio-button {
  display: flex;
  align-items: center;
  width: 120%;
  border: 1px solid #d1cfcd;
  background-color: #d8d5d1;
  border-radius: 15px;
  margin: 5px;
  padding: 10px;
  height: 4em;
}

.radio-button input[type="radio"]:checked + span {
  border-color: #4f285e;
  height: 1em;
}

.radio-button input[type="radio"] {
  display: none;
}

.radio-button span {
  display: inline-block;
  width: 1em;
  height: 1em;
  border: 3px solid #4f285e;
  border-radius: 50%;
  margin-right: 0.5em;
  position: relative;
}

.radio-button input[type="radio"]:checked + span {
  background-color: #4f285e;
}

.guide-text {
  margin-top: 10px;
  color: #837e7b;
}

@media only screen and (max-width: 600px) {
  .location {
    width: 100% !important;
  }

  .container-fluid {
    padding: 0px;
  }
  .main {
    display: flex;
    flex-direction: column;
    height: 100vh;
  }

  .headline {
    padding: 20px;
    margin-top: 150px;
    padding-left: 0%;
    padding: 0%;
    height: fit-content;
    text-align: start;
    margin-left: 20px;
  }

  .btn-primary {
    height: 4em;
    margin-bottom: 10%;
  }

  .guide-text {
    width: 120%;
  }

  p {
    padding-left: 2px;
    padding-right: 0%;
  }

  .next {
    padding-top: 70px;
  }
}
